$white: rgb(251, 251, 251);
$dark-grey: rgb(67, 77, 83);
$grey: rgb(200, 200, 200);
$red: rgb(183, 21, 64);
$orange: rgb(250, 152, 58);
$hover-orange: rgb(240, 168, 48);
$cyan : rgb(167, 219, 216);

$header-color: rgba($orange, 0.7);
$button-color: rgba($orange, 0.9);
$button-font-color: rgb(50, 50, 90);

$break-medium: 820px;

body {
    color: #3e3e3e;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif, bold;
    margin: 0px;
    width: 100%;
}

.header {
    border-bottom: 5px solid $header-color;
    margin: 0 13px 10px 13px;
}

h1.firstname {
    color: $dark-grey;
    margin-left: 14px;
}

.headerName {
    margin-top: 10px;
    padding-right: 10px;
}

.borderWrapper {
    border-radius: 2px;
    border: 2px solid rgb(055, 055, 055);
    background-color: rgb(055, 055, 055);
    max-width: 1245px;
    padding: 10px;

    @media screen and (max-width: $break-medium) {
        padding: 5px;
        border: 2px solid rgb(055, 055, 055);
    }
}

.contentWrapper {
    border: 2px solid rgba(251, 251, 251, 0.5);
    border-radius: 2px;
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 1205px;
}

.contentSegment, .equalContentSegment {
    border: 2px solid rgba($white, 0.5);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    margin: 0px;
}

.contentSegment {
    align-items: flex-start;
    flex-flow: row wrap;
}

.equalContentSegment {
    align-items: stretch;
    flex-flow: row wrap;
}

.content {
    border: 2px solid rgba($cyan, 0.8);
    border-radius: 2px;
    margin: 10px;
    padding: 10px 15px 20px 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    flex: 1 auto;

    @media screen and (max-width: $break-medium) {
        margin: 10px 5px;
        padding: 10px 10px;
    }
}

.skillsContentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
        flex-basis: 100%;
    }

}

.skillsContent {
    flex-basis: 45%;
    margin: 0 0 20px 20px;

    border-left: 2px solid rgba($grey ,0.5);
    padding-left: 15px;

    @media screen and (max-width: $break-medium) {
        flex-basis: 100%;
    }
}

.main_text {
    max-width: 950px;
}

hr.descriptionSeperator {
    border-width: 1px;
    display: block;
    margin: 15px auto 30px 0;
    width: 75%;
}

h1 {
    font-size: 30px;
    margin: 10px 0 10px;
}

h2 {
    font-size: 20px;
    margin: 5px 0 10px;
}

p,
li {
    font-size: 16px;
}

ul {
    margin: 0;
}

td {
    padding-bottom: 20px;
}

.timePeriod {
    font-size: 16px;
    font-weight: 500;
    min-width: 120px;
}

.description {
    margin: 0 0 5px;
    font-weight: 500;
}

.linkButton {
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 9px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: $button-color;

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $button-font-color;
        text-decoration: none
    }
    &:hover {
        background-color: #ffb500;
    }
}

.contactList {
    display: flex;
    flex-direction: column;

    .contactDescription {
        font-weight: 500;
        font-size: 15;
        margin-right: 20px;

        a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $button-font-color;
                text-decoration: none;
            }
        }
    }
}

.endDelimiter {
    border-bottom: 2px solid $grey;
    height: 2px;
    margin: 35px 11px 90px 11px;
}
