$white: rgb(251,251,251);
$dark-grey: rgb(67,77,83);
$cyan : rgb(167,219,216);
$blue: rgb(105, 210, 231);
$green: rgb(184, 233, 148);

$orange: rgb(250, 152, 58);
$hover-orange: rgb(240, 168, 48);
$red: rgb(183, 21, 64);

$background: rgba($green, 0.20);
//$content-background: rgb(255, 250, 245);
$content-background: $white;
$header: rgba($orange, 0.7);
$button-font-color: #3e3e3e;


body {
    color: #3e3e3e;
    font-family: 'Roboto', sans-serif, bold;
    margin: 0px;
    width: 100%;
}

.header {
    border-bottom: 5px solid $header;
    margin: 0 11px 10px 11px;
}

h1.firstname {
    color: $dark-grey;
    float: right;
    margin-left: 7px;
    padding-right: 3px;
}

.lastname {
    color: $dark-grey;
}

.headerName {
    margin-top: 10px;
    padding-right: 10px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1205px;
	margin: 0px auto;
}

.contentSegment, .equalContentSegment {
    background-color: $background;
    border: 2px solid rgba($white, 0.5);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    margin: 0px;
}

.contentSegment {
    align-items: flex-start;
    flex-flow: row wrap;
}

.equalContentSegment {
    align-items: stretch;
    flex-flow: row wrap;
}

.content {
    border: 2px solid rgba($cyan, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px 20px 20px;
    font-family: 'Roboto', sans-serif;
    background-color: $content-background;
    flex: 1 auto;

}

.skillsContentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
        flex-basis: 100%;
    }

}

.skillsContent {
    flex-basis: 45%;
    margin: 0 0 20px 20px;

    border-left: 2px solid rgba(150,150,150,0.4);
    padding-left: 15px;
}


#main_text {
    max-width: 950px;
}

hr.descriptionSeperator {
    border-width: 1px;
    display: block;
    margin: 15px auto 30px 0;
    width: 75%;
}

h1 {
    font-size: 30px;
    margin: 10px 0 10px;
}

h2 {
    font-size: 20px;
    margin: 5px 0 10px;
}

p,
li {
    font-size: 16px;
}

ul {
    margin: 0;
}

td {
    padding-bottom: 20px;
}

.timePeriod {
    font-size: 16px;
    font-weight: 500;
    min-width: 120px;
}

.description {
    margin: 0 0 5px;
    font-weight: 500;
}

.linkButton {
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    padding: 9px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: $orange;

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $button-font-color;
        text-decoration: none
    }
    &:hover {
        background-color: #ffb500;
    }
}

.contactList {
    display: flex;
    flex-direction: column;

    .contactDescription {
        font-weight: 500;
        font-size: 15;
        margin-right: 20px;

        a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $button-font-color;
                text-decoration: none;
            }
        }
    }
}
