body {
    width: 100%;
    margin: 0px;
    background-image: url('../img/background.png');

    font-family: 'Roboto', sans-serif, bold;
    color: #3e3e3e;
}

.header {
    font-family: 'Roboto', sans-serif, bold;
    display: flex;
    padding: 18px 40px 0 0;
    margin-bottom: 15px;

    height: 42px;

    background-color: #FF9900;

    color: #ffffff;
    text-align: right;
    font-weight: bold;
    border-bottom: 5px solid #E07B19;
}

h1.firstname {
    margin: 0 0 0 7px;
    padding-right: 3px;
    float: right;
    color: #E9E9E9;
}

.lastname {
    color: #424242;
}

.headerName {
    height:20px;
    min-width:300px;
    position: absolute;
    right: 20px;
    top: -65px;
}

.contentWrapper {
    position: absolute;
    max-width: 1205px;
    display: flex;
    flex-direction: column;

	margin: 0px auto 0px auto;
    left: 0;
    right: 0;
}

.contentSegment, .equalContentSegment {
    display: flex;
    flex-direction: row;
    background-color: rgba(255,253,0,0.2);
    margin: 0px;
}

.contentSegment {
    align-items: flex-start;
    flex-flow: row wrap;
}

.equalContentSegment {
    align-items: stretch;
    flex-flow: row wrap;
}

.content {
    margin: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    flex: 1 auto;
}

hr.descriptionSeperator {
    display: block;
    width: 75%;

    margin: 15px auto 30px 0;

    border-width: 1px;
    border-color: #00a0a0;
}

h1{
    margin: 10px 0 10px 0;
    font-size: 30px;
}

h2{
    margin: 5px 0 10px 0;
    font-size: 20px;
}

p, li{
    font-size: 16px;
}

.timePeriod {
    font-size: 16px;
    font-weight: 500;
    min-width: 120px;
}

.jobDescription {
    margin: 20px 0 5px 0;
    font-weight: 500;
}

.linkButton {
    padding: 9px;

    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;

    border-radius: 6px;
    background-color: #00d8d8;
}

.linkButton:link {
    color: #FF9900;
    text-decoration: none
}
.linkButton:visited {
    color: #FF9900;
    text-decoration: none
}
.linkButton:active {
    color: #FF9900;
    text-decoration: none
}
.linkButton:hover {
    color: #FF9900;
    text-decoration: none;
    background-color: #00cccc;
}

.projectLink {
    padding: 9px;

    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 8px;

    border-radius: 6px;
    background-color: #ffa500;
}

.projectLink:link {
    color: #2e2e2e;
    text-decoration: none
}
.projectLink:visited {
    color: #2e2e2e;
    text-decoration: none
}
.projectLink:active {
    color: #2e2e2e;
    text-decoration: none
}
.projectLink:hover {
    color: #2e2e2e;
    text-decoration: none;
    background-color: #ffb500;
}


.contactList {
    list-style-type: none;
    padding-left: 10px;
}

.contactDescription {
    font-weight: 500;
    font-size: 15;
}

.contactList {
    padding-left: 0px;
}

.contactList a:link {
    color: #3299BB;
    text-decoration: none;
}

.contactList a:visited {
    color: #3299BB;
    text-decoration: none;
}

.contactList a:hover {
    color: #3299BB;
    text-decoration: none;
}

.contactList a:active {
    color: #3299BB;
    text-decoration: none;
}
