$white: rgb(251, 251, 251);
$dark-grey: rgb(67, 77, 83);
$grey: rgb(200, 200, 200);
$red: rgb(183, 21, 64);
$orange: rgb(250, 152, 58);
$hover-orange: rgb(240, 168, 48);
$cyan : rgb(167, 219, 216);

$header-color: rgba($orange, 0.7);
$button-color: rgba($orange, 0.9);
$button-font-color: rgb(50, 50, 90);
