$white: rgb(251, 251, 251);
$light-grey: rgb(220, 220, 220);
$grey: rgb(200, 200, 200);
$dark-grey: rgb(67, 77, 83);
$nearly-black: rgb(50, 50, 50);
$black: rgb(10, 10, 10);

$red: rgb(183, 21, 64);
$orange: rgb(250, 152, 58);
$hover-orange: rgb(255, 181, 00);
$cyan : rgb(167, 219, 216);

$header-color: rgba($orange, 0.7);
$button-color: rgba($orange, 0.9);
