@import "colors";
@import "mixins";
@import "variables";


$break-medium: 820px;
$break-small: $break-medium;

body {
    color: $dark-grey;
    background-color: $black;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif, bold;
    margin: 0px;
    width: 100%;
}

.header {
    border-bottom: 5px solid $header-color;
    margin: 0 13px 10px 13px;
}

h1.firstname {
    color: $dark-grey;
    margin-left: 14px;
}

.headerName {
    margin-top: 10px;
    padding-right: 10px;
}

.borderWrapper {
    border-radius: 2px;
    background-color: rgb(055, 055, 055);
    max-width: 1024px;
    padding: 5px;
    border: 2px solid rgb(055, 055, 055);

    @include tablet-desktop {
        padding: 10px;
    }
}

.contentWrapper {
    border-radius: 6px;
    background: $white;
    display: flex;
    flex-direction: column;
    max-width: 1205px;
}

.contentSegment, .equalContentSegment {
    border: 2px solid $white;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    margin: 0px;
}

.contentSegment {
    align-items: flex-start;
    flex-flow: row wrap;
}

.equalContentSegment {
    align-items: stretch;
    flex-flow: row wrap;
}

.content {
    border: 2px solid rgba($cyan, 0.8);
    border-radius: 2px;
    margin: 10px 5px 10px 10px;
    padding: 10px 10px 10px 15px;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    flex: 1 auto;

    @include tablet-desktop {
        margin: 10px;
        padding: 10px 15px 20px 20px;
    }
}

.project {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    @include tablet-desktop {
        align-items: left;
        flex-shrink: 0;
        flex-direction: row;
        justify-content: flex-start;
    }


    .projectLink,
    .timePeriod {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        width: 140px;
    }

    .timePeriod {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100%;

        @include tablet-desktop {
            width: auto;
            flex-direction: column;
            margin-bottom: 0px;
        }
    }

    .linkButton  {
        align-self: flex-start;
        margin-bottom: 20px;

        @include tablet-desktop {
            margin-bottom: 0px;
        }
    }

    .description {
        text-align: center;
        @include tablet-desktop {
            text-align: left;
        }
    }

    .projectText {
        display: block;
        @include tablet-desktop {
            max-width: 80%;
        }
    }
}

.projectDelimiter {
    border: 1px solid $light-grey;
    margin: 0 30px 20px 30px;

    @include tablet-desktop {
        margin: 0 70px;
    }

}

.skillsContentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
        flex-basis: 100%;
    }

}

.skillsContent {
    flex-basis: 100%;
    margin: 0 0 20px 20px;

    border-left: 2px solid $light-grey;
    padding-left: 15px;

    @include tablet-desktop {
        flex-basis: 45%;
    }
}

.main_text {
    display: block;
    @include tablet-desktop {
        max-width: 95%;
    }
}

hr.descriptionSeperator {
    border-width: 1px;
    display: block;
    margin: 15px auto 30px 0;
    width: 75%;
}

h1 {
    font-size: 30px;
    margin: 10px 0 10px;
}

h2 {
    font-size: 20px;
    margin: 5px 0 10px;
}

p,
li {
    font-size: 16px;
}

ul {
    margin: 0;
}

td {
    padding-bottom: 20px;
}

.timePeriod {
    font-size: 16px;
    font-weight: 500;
    min-width: 120px;
}

.description {
    margin: 0 0 15px;
    font-weight: 500;
}

.linkButton {
    background-color: $button-color;
    border-radius: 5px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    margin: 4px 10px 0 0;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $nearly-black;
        text-decoration: none
    }
    &:hover {
        background-color: $hover-orange;
    }
}

.contact {
    display: flex;
    flex-direction: column;

    .contactElement {
        font-weight: 500;
        font-size: 15;
        margin-right: 20px;

        a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $nearly-black;
                text-decoration: none;
            }
        }
    }
}

.endDelimiter {
    border: 1px solid $grey;
    margin: 35px 11px 90px 11px;
}
